@import url(http://fonts.googleapis.com/css?family=Stalemate);
body{
	color: #838383;
	background: #FAFAFA;
}
h1,h2,h3,h4,h5,h6{
	color: #838383;
}
@media (min-width: 1200px){
  .container {
    width: 970px; 
  }
}
.width-full{
	width:100%;
}
.text-white{
	color:white;
}
.navbar-brand{
	font-family: 'Stalemate', cursive;
	font-size:3.5em;
	font-weight:bold;
}
.font-family-stale{
	font-family: 'Stalemate', cursive;
}
.search-bar{
	width: 250px !important;
}
.status-box{
  padding: 15px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
  padding-bottom:0px;
  background:white;
}
.text-area{
  outline: 0;
  border: none;
  width: 100%;
  resize: none;
}
.progress{
  height: 15px;
}
.line-height-1{
	  line-height: 1;
}
.hr-dashed{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px dashed #eeeeee;
}
