.list-group a{
  border-left:0px;
  border-right:0px;
  border-bottom: 1px solid #E7E7E7;
  color: #158CBA;
}
.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #555555;
  background-color: transparent;
  border-left:2px solid rgb(21, 140, 186) !important;
  font-weight:bolder;
}
.text-muted{
  color:#8E8E8E;
}
.display-block{
  display:block;
}